<div class="container">
  <form [formGroup]="MyFromGroup" (ngSubmit)="saveCourse()">
    <mat-form-field>
      <mat-label>Enter course name</mat-label>
      <input matInput formControlName="nameCourse" type="text" class="input">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select course category</mat-label>
      <mat-select formControlName="kodeKategory" class="input">
        <mat-option value="one" *ngFor="let category of categories">
          {{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter the amount of lessons</mat-label>
      <input matInput formControlName="amountLessons" type="number" class="input">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter start course date</mat-label>
      <input matInput type="date" formControlName="startCourseDate" type="date" class="input">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select way of learning</mat-label>
      <mat-select formControlName="wayLearning" class="input">
        <mat-option value="Zoom">zoom</mat-option>
        <mat-option value="frontaly">frontaly</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter the image of the course</mat-label>
      <input matInput formControlName="image" type="text" class="input">
      <img [src]="MyFromGroup.controls['image'].value" *ngIf="MyFromGroup.
    controls['image'].value" style="max-width: 100px; max-height: 100px;">
    </mat-form-field>

    <mat-form-field *ngFor="let videoCtrl of MyFromGroup.get('videosArr')['controls']; let i = index">
      <mat-label>Enter video {{ i + 1 }}</mat-label>
      <input matInput [formControl]="videoCtrl">
      <button mat-button style="font-size: 12px; width: 1%; height: auto;
      margin-left: 90%; padding: 8px;" (click)="removeVideo(i)">X</button>
    </mat-form-field>
    <button type="button" class="btn btn-primary" (click)="addVideo()" style="background-color: grey; border-color: black;">Add Videos</button>


    <button class="btn btn-danger" type="submit">Add course</button>

  </form>
</div>